#maze {
    background-color: black;
    position: relative;
    height: 700px;
    width: 700px;
}
#player-one {
    height: 20px;
    width: 20px;
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
}
#player-two {
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    position: absolute;
    top: 680px;
    left: 680px;
}